<!-- <h1 id="buy-title">Hacé tu compra online</h1> -->
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-7 col-sm-offset-1">
      <div id="buy-product-list">
        <div class="row buy-category-container">
          <div class="col-xs-12">
            <h3 class="buy-category-title">Hamburguesas</h3>
          </div>
          <div class="row">
            <div class="col-xs-12 col-lg-6 buy-product-container">
              <div class="row">
                <div class="col-xs-12 col-sm-4 buy-product-image-container">
                  <%= image_tag("products/hamburguesas/HamburguesasGarbanzos-Buy.jpg", :class => "buy-product-image") %>
                </div>
                <div class="col-xs-12 col-sm-4 buy-product-description-container">
                  <h4 class="buy-product-title">Garbanzos</h4>
                  <p>x12u - <span class="price">$150</span></p>
                </div>
                <div class="col-xs-12 col-sm-4 buy-product-icon-container">
                  <%= image_tag("BuyIcon-Small.png", :class => "add-icon") %>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-lg-6 buy-product-container">
              <div class="row">
                <div class="col-xs-12 col-sm-4 buy-product-image-container">
                  <%= image_tag("products/hamburguesas/HamburguesasEspinaca-Buy.jpg", :class => "buy-product-image") %>
                </div>
                <div class="col-xs-12 col-sm-4 buy-product-description-container">
                  <h4 class="buy-product-title">Espinaca y Queso</h4>
                  <p>x12u - <span class="price">$150</span></p>
                </div>
                <div class="col-xs-12 col-sm-4 buy-product-icon-container">
                  <%= image_tag("BuyIcon-Small.png", :class => "add-icon") %>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-lg-6 buy-product-container">
              <div class="row">
                <div class="col-xs-12 col-sm-4 buy-product-image-container">
                  <%= image_tag("products/hamburguesas/HamburguesasRemolacha-Buy.jpg", :class => "buy-product-image") %>
                </div>
                <div class="col-xs-12 col-sm-4 buy-product-description-container">
                  <h4 class="buy-product-title">Remolacha</h4>
                  <p>x12u - <span class="price">$150</span></p>
                </div>
                <div class="col-xs-12 col-sm-4 buy-product-icon-container">
                  <%= image_tag("BuyIcon-Small.png", :class => "add-icon") %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row buy-category-container">
          <div class="col-xs-12">
            <h3 class="buy-category-title">Croutons</h3>
          </div>
          <div class="row">
            <div class="col-xs-12 col-lg-6 buy-product-container">
              <div class="row">
                <div class="col-xs-12 col-sm-4 buy-product-image-container">
                  <%= image_tag("products/croutons/CroutonsOliva-Buy.jpg", :class => "buy-product-image") %>
                </div>
                <div class="col-xs-12 col-sm-4 buy-product-description-container">
                  <h4 class="buy-product-title">Oliva, Ajo y Orégano</h4>
                  <p>x5u - <span class="price">$70</span></p>
                </div>
                <div class="col-xs-12 col-sm-4 buy-product-icon-container">
                  <%= image_tag("BuyIcon-Small.png", :class => "add-icon") %>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-lg-6 buy-product-container">
              <div class="row">
                <div class="col-xs-12 col-sm-4 buy-product-image-container">
                  <%= image_tag("products/croutons/CroutonsRemolacha-Buy.jpg", :class => "buy-product-image") %>
                </div>
                <div class="col-xs-12 col-sm-4 buy-product-description-container">
                  <h4 class="buy-product-title">Pan de Remolacha</h4>
                  <p>x5u - <span class="price">$70</span></p>
                </div>
                <div class="col-xs-12 col-sm-4 buy-product-icon-container">
                  <%= image_tag("BuyIcon-Small.png", :class => "add-icon") %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <div class="row" id="order">
        <div class="row" id="order-header">
          <div class="col-xs-10">
            <h2 id="order-title">Tu pedido</h2>
          </div>
          <div class="col-xs-2">
            <%= link_to( image_tag("EraseIcon-Small.png", :id => "erase-icon"), "#") %>
          </div>
        </div>
        <div id="order-body">
          <div class="row order-item">
            <div class="col-xs-10">
              <p class="order-item-name">Order item name</p>
            </div>
            <div class="col-xs-2">
              <p class=order-item-price>$XX</p>
            </div>
          </div>
          <div class="row" id="order-total">
            <div class="col-xs-10">
              <p id="order-item-name-total">Total</p>
            </div>
            <div class="col-xs=2">
              <p id=order-item-price-total>$XX</p>
            </div>
          </div>
        </div>
        <div class="row" id="order-footer">
          <div class="col-xs-12">
            <%= link_to "Realizar Pedido", "#", :id => "order-button" %>
          </div>
        </div>
      </div>
    </div>    
  </div>
</div>
