<div class="row show-category-container">
  <div class="col-xs-12 col-md-10 col-md-offset-1">
    <div class="show-category-text">
      <h2 class="show-category-title">Hamburguesas</h2>
      <p class="show-category-description">Hamburguesas vegetarianas realizadas con ingredientes naturales.</p>
    </div>
    <div class="show-category-products">
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <div class="show-product-container">
              <%= image_tag("products/hamburguesas/HamburguesasGarbanzos-Show.jpg", :class => "show-product-image") %>
              <h3 class="show-product-title">Garbanzos</h3>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="show-product-container">
              <%= image_tag("products/hamburguesas/HamburguesasEspinaca-Show.jpg", :class => "show-product-image") %>
              <h3 class="show-product-title">Espinaca y Queso</h3>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="show-product-container">
              <%= image_tag("products/hamburguesas/HamburguesasRemolacha-Show.jpg", :class => "show-product-image") %>
              <h3 class="show-product-title">Remolacha</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row show-category-container" id="prueba-croutons">
  <div class="col-xs-12 col-md-10 col-md-offset-1">
    <div class="show-category-text">
      <h2 class="show-category-title">Croutons</h2>
      <p class="show-category-description">Croutons de varios sabores y colores. Usalos para acompañar ensaladas, sopas,
                                      pastas o lo que vos quieras.</p>
    </div>
    <div class="show-category-products">
      <div class="col-xs-12 col-md-4">
        <div class="show-product-container">
            <%= image_tag("products/croutons/CroutonsOliva-Show.jpg", :class => "show-product-image") %>
            <h3 class="show-product-title">Oliva, Ajo y Orégano</h3>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="show-product-container">
            <%= image_tag("products/croutons/CroutonsRemolacha-Show.jpg", :class => "show-product-image") %>
            <h3 class="show-product-title">Pan de Remolacha</h3>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Save product-cointainer for automating later using rails
Me gustaría en vez de poner el html para cada categoría, tener un .each que ponga el nombre de la categoría,
,la descripción, los productos, las fotos y ya solo me tire toda la estructura.
<div class="row">
  <div class="col-xs-12 col-md-10 col-md-offset-1">
    <div class="show-category-container">
      <div class="show-category-text">
        <h2 class="show-category-title">Category Name</h2>
        <p class="show-category-description">Category Description</p>
      </div>
      <div class="show-category-products">
        <div class="col-xs-12 col-md-4">
          <div class="show-product-container">
              <%= image_tag("products/hamburguesas/HamburguesasGarbanzos-Show.jpg", :class => "show-product-image") %>
              <h3 class="show-product-title">Product Title</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
-->
