<div class="row">
  <div class="col-xs-12 col-md-10 col-md-offset-1">
    <div class="category-container">
      <h2 class="category-title">Hamburguesas</h2>
      <p class="category-description">Hamburguesas vegetarianas realizadas con ingredientes naturales.
                                      Hechas con <strong>amor</strong>.</p>
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <div class="product-container">
              <%= image_tag("products/hamburguesas/HamburguesasGarbanzos-Show.jpg", :class => "product-image") %>
              <h3 class="product-title">Garbanzos</h3>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="product-container">
              <%= image_tag("products/hamburguesas/HamburguesasEspinaca-Show.jpg", :class => "product-image") %>
              <h3 class="product-title">Espinaca y Queso</h3>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="product-container">
              <%= image_tag("products/hamburguesas/HamburguesasRemolacha-Show.jpg", :class => "product-image") %>
              <h3 class="product-title">Remolacha</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-10 col-md-offset-1">
    <div class="category-container">
      <h2 class="category-title">Croutons</h2>
      <p class="category-description">Croutons de varios sabores y colores. Usalos para acompañar ensaladas, sopas,
                                      pastas o lo que quieras.</p>
      <div class="col-xs-12 col-md-4">
        <div class="product-container">
            <%= image_tag("products/croutons/CroutonsOliva-Show.jpg", :class => "product-image") %>
            <h3 class="product-title">Oliva, Ajo y Orégano</h3>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="product-container">
          <%= image_tag("products/croutons/CroutonsRemolacha-Show.jpg", :class => "product-image") %>
          <h3 class="product-title">Remolacha</h3>
      </div>
    </div>
  </div>
</div>


<!-- Save product-cointainer for automating later using rails
<div class="row">
  <div class="col-xs-12 col-md-10 col-md-offset-1">
    <div class="category-container">
      <h2 class="category-title">Category Name</h2>
      <p class="category-description">Category Description</p>
      <div class="col-xs-12 col-md-4">
        <div class="product-container">
            <%= image_tag("products/hamburguesas/HamburguesasGarbanzos-Show.jpg", :class => "product-image") %>
            <h3 class="product-title">Product Title</h3>
        </div>
      </div>
    </div>
  </div>
</div>
-->
