<h1>Iniciar Sesión</h1>

<%= form_for(:session, url: prana_admin_login_path) do |f| %>

  <%= f.label :name, "Nombre" %>
  <%= f.text_field :name %>

  <%= f.label :password, "Nombre" %>
  <%= f.password_field :password %>

  <%= f.submit "Iniciar Sesión" %>

<% end %>
