<p>Hola <%= @checkout.name %></p>

<p>Tu pedido se está preparando y se entregará en <%= @checkout.address %> el día <%= @checkout.delivery_date %>
a las <%= @checkout.delivery_time %></p>

<p>Tu pedido:</p>
<%= render @checkout.line_items %>

<p>Total a pagar: <%= @checkout.total_price %></p>
