<h1>Solicitud de pedido</h1>
<p>Se ha generado un nuevo pedido: </p>
<ul>
  <li>Cliente:          <%= @checkout.name %></li>
  <li>Dirección:        <%= @checkout.address %></li>
  <li>Teléfono:         <%= @checkout.telephone %></li>
  <li>Email             <%= @checkout.email %></li>
  <li>Dia de entrega:   <%= @checkout.delivery_date %></li>
  <li>Franja horaria:   <%= @checkout.delivery_time %></li>
  <li>Monto Total:      $<%= @checkout.total_price %></li>
</ul>

<p>Pedido</p>
<%= render @checkout.line_items %>
