<div class="row">
  <div class="col-xs-11 col-xs-offset-1">
    <h1>Editar Categoría</h1>
  </div>
</div>
<div class="row">
  <%= form_for @category do |f| %>
    <div class="col-xs-11 col-xs-offset-1">
      <%= f.label :name, "Nombre:" %>
      <%= f.text_field :name %>
    </div>
    <div class="col-xs-11 col-xs-offset-1">
      <%= f.label :description, "Descripción:" %>
      <%= f.text_area :description %>
    </div>
    <div class="col-xs-11 col-xs-offset-1">
      <%= f.submit "Editar", class: "edit_button" %>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h3>Productos</h3>
        <%= link_to "Agregar Producto", new_product_path %>
      </div>
      <% category.products.each do |product| %>
        <div class="col-xs-12 col-md-4">
          <h4><%= product.name %></h4>
          <%= link_to "Ver", product_path %>
          <%= link_to "Editar", edit_product_path %>
          <%= link_to "Borrar", product, method: :delete %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
