<div class="row">
  <div class="col-xs-12">
    <h1>Categorias</h1>
    <%= link_to "Agregar Categoría", new_category_path %>
  </div>
  <% @categories.each do |category| %>
    <div class="row">
      <div class="col-xs-8">
        <h2><%= category.name %></h2>
      </div>
      <div class="col-xs-4">
        <%= link_to "Borrar", category, method: :delete %>
        <%= link_to "Editar", edit_category_path(category) %>
      </div>
      <div class="col-xs-12">
        <h3>Descripción</h3>
        <%= category.description %>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h3>Productos</h3>
          <%= link_to "Agregar Nuevo Producto", new_category_product_path(category) %>
        </div>
        <% category.products.each do |product| %>
          <div class="col-xs-12 col-md-4">
            <h4><%= product.name %></h4>
            <%= link_to "Borrar", product_path(product), method: :delete %>
          </div>
        <% end %>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h3>Paquetes</h3>
          <%= link_to "Agregar Nuevo Paquete", new_category_package_path(category) %>
        </div>
        <% category.packages.each do |package| %>
          <div class="col-xs-12 col-md-4">
            <h4><%= package.identifier %></h4>
            <%= link_to "Borrar", package_path(package), method: :delete %>
          </div>
        <% end %>
      </div>
    </div>
    <% end %>
</div>
