<div class="row">
  <div class="col-xs-12">
    <h1>Categorias</h1>
    <%= link_to "Agregar Categoría", new_category_path %>
  </div>
  <% @categories.each do |category| %>
    <div class="row">
      <div class="col-xs-8">
        <h2><%= category.name %></h2>
      </div>
      <div class="col-xs-4">
        <%= link_to "Borrar", category, method: :delete %>
      </div>
      <div class="col-xs-12">
        <h3>Descripción</h3>
        <%= category.description %>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h3>Productos</h3>
        </div>
        <% category.products.each do |product| %>
          <div class="col-xs-12 col-md-4">
            <h4><%= product.name %></h4>
          </div>
        <% end %>
      </div>
    </div>
    <% end %>
</div>
