<div class="row">
  <div class="col-xs-11 col-xs-offset-1">
    <h1>Nueva Categoría</h1>
  </div>
</div>
<div class="row">
  <%= form_for @category do |f| %>
    <% if @category.errors.any? %>
      <div class="col-xs-11 col-xs-offset-1 form-error">
        <ol>
          <% @category.errors.full_messages.each do |msg| %>
            <li>
              <%= msg %>
            </li>
          <% end %>
        </ol>
      </div>
    <% end %>
    <div class="col-xs-11 col-xs-offset-1">
      <%= f.label :name, "Nombre:" %>
      <%= f.text_field :name %>
    </div>
    <div class="col-xs-11 col-xs-offset-1">
      <%= f.label :description, "Descripción:" %>
      <%= f.text_area :description %>
    </div>
    <div class="col-xs-11 col-xs-offset-1">
      <%= f.submit "Crear", class: "create_button" %>
    </div>
  <% end %>
</div>
