<h1>Nuevo Producto</h1>

<%= form_for(@product, url: category_products_path) do |f| %>
  <%= f.label :name, "Nombre" %>
  <%= f.text_field :name %>
  <%= f.label :premium, "Producto Premium" %>
  <%= f.check_box :premium %>
  <%= f.submit "Crear Producto" %>
<% end %>
