<div class="row" id="header">
  <div class="col-xs-2 col-xs-offset-1">
    <%= link_to image_tag("PranaFactoryLogo-Header.png", :id => "logo"), root_path %>
  </div>

  <div class="col-xs-5 nav-links-container">
    <%= link_to "Descubrinos", nuestros_productos_path, class: "nav-link nav-link-first" %>
    <%= link_to "Pedido Online", comprar_path, class: "nav-link nav-link-last" %>
  </div>

  <div class="col-xs-1">
    <% if admin_logged_in? %>
      <p>Administrador <%= current_admin.name %></p>
      <%= link_to "Inicio", admins_actions_path %>
      <%= link_to "Categorías", categories_path %>
      <%= link_to "Pedidos", checkouts_path %>
      <%= link_to "Cerrar Sesión", prana_admin_logout_path, method: :delete %>
    <% end %>
  </div>

  <div class="col-xs-2" id="sn-links">
    <%= link_to "https://www.facebook.com/pranafactory/", target: "_blank" do %>
        <i class="fa fa-facebook fa-2x sn-link" aria-hidden="true"></i>
    <% end %>
    <%= link_to "https://www.instagram.com/pranafactory/", target: "_blank" do %>
        <i class="fa fa-instagram fa-2x sn-link" aria-hidden="true"></i>
    <% end %>
  </div>
</div>
