<div id="header">
  <div class="row" id="logo-container">
    <div class="col-xs-4">
      <%= image_tag("PranaFactoryLogo-Header.png", :id => "logo") %>
    </div>
    <div class="col-xs-4 col-xs-offset-4">
      <% if admin_logged_in? %>
        <p>Administrador <%= current_admin.name %></p>
        <%= link_to "Inicio", admins_actions_path %>
        <%= link_to "Categorías", categories_path %>
        <%= link_to "Pedidos", checkouts_path %>
        <%= link_to "Cerrar Sesión", prana_admin_logout_path, method: :delete %>
      <% end %>
    </div>
  </div>

  <div class="row navigation">
    <div class="col-xs-12 col-md-3 col-md-offset-1 navigation-link">
      <%= link_to "Inicio", root_path %>
    </div>
    <div class="col-xs-12 col-md-4 navigation-link">
      <%= link_to "Nuestros Productos", nuestros_productos_path %>
    </div>
    <div class="col-xs-12 col-md-3 navigation-link">
      <%= link_to "Comprar Online", comprar_path %>
    </div>
  </div>
</div>
