<!DOCTYPE html>
<html>
<head>
  <title>Prana Factory - Alimentos Naturales Gourmet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', 'http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' %>
  <%= stylesheet_link_tag    'application', 'http://fonts.googleapis.com/css?family=Arizonia' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">
    <div id="header">
      <%= render "layouts/header" %>
    </div>
      <%= render "layouts/flash_messages" %>
      <%= yield %>
      <%= render "layouts/footer" %>
  </div>
</body>
</html>
